.wrapper{
  margin-top: 200px;
  margin-bottom: 100px;
}

.container {
  margin: 0 10px;
}

.auth button{
border: none;
font-family: inherit;
font-size: 0.9rem;
color: inherit;
background: none;
cursor: pointer;
display: inline-block;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: 700;
outline: none;
transition: all 0.3s;
}

.auth{
  display: flex;
  color: $color-body;
  margin-left: 20px;
}

nav{
  display: flex;
  .nav-links{
    display: flex;
    justify-content: space-around;
    align-content: center;
    position: absolute;
    right: 0;
    margin-top: 20px;
    margin-right: 50px;
    width: 300px;
    span{
      margin-left: 20px;
    }
  }
}


@media (max-width: 600px){
  #head-title{
    display: none;
  }
  .site-header{
    height: 50px;
  }
}

@media (min-width: 480px) {
  .container {
    margin: 0 20px;
  }
}

@media (min-width: 940px) {
  .container {
    max-width: 900px;
    margin: 0 auto;
  }

}
