<form (ngSubmit)="handleNewAuction(auctionForm)" #auctionForm="ngForm">
  <label>Item:</label>
  <input type="text" placeholder="name the auction-item" name="auctionName" [(ngModel)]="auctionName" required><br>
  <label>Quantity</label>
  <input type="number" name="quantity" [(ngModel)]="quantity" required><br>
  <label>Expires on:</label>
  <input type="date" name="expirationDate" [(ngModel)]="date" required>
  <button type="submit" [disabled]="auctionForm.invalid">Create Auction</button>
</form>
